@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1D4ED8;
  --secondary: #F59E0B;
  --dark: #1F2937;
  --light: #F3F4F6;
}

body {
  color: var(--dark);
  background-color: var(--light);
}
